@import "global.css";

#header {
    position: relative;
    width: 100%;
    min-height: 400px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


#header .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: center;
    z-index: 0;
}


#header .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 150px;
    width: 100%;
    position: relative; 
    z-index: 1;
}

#header .content .info {
    display: flex;
    flex-direction: column;
}

#header .content .info .minecraft-server-ip {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

#header .content .info .title {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
}

#header .content .info .title span {
    color: #ff8a21;
}

#header .content .description {
    color: #D2D0D0;
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
    line-height: 1.4;
    text-align: center;
}

.store_button {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8a21;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 12px 22px;
    border-radius: 26px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 999; 
}

.store_button .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}


@media (max-width: 1024px) {
    .store_button {
        max-width: 180px;   
        white-space: nowrap;
        padding-left: 12px; 
        padding-right: 12px;
    }
}


@media (max-width: 480px) {
    .store_button {
        max-width: 140px;  
        white-space: nowrap;
        padding-left: 10px;  
        padding-right: 10px;
    }
}


.section-heading {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff; 
    margin-bottom: 20px; 
    padding-bottom: 30px; 

  }
  #products .content .section-heading span {
    color: #ff8a21;
  } 

  #products .content .section-heading::before {
    content: "";
    position: absolute;
    bottom: 181px;
    right: 40%;
    width: 300px;
    height: 1px;
    border-radius: 5px;
    background: #D2D0D0 ;
}

#products .content .section-heading::after {
    content: "";
    position: absolute;
    bottom: 180px;
    left: 40%;
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background: #ff8a21;
}
#products {
    padding: 50px;
    background-color: #252229;
}

.product-cards {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: space-between; 
}

.product-card {
    background: #2b2731;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border: 1px solid #494949;
    padding: 20px;
    text-align: center;
    width: calc(33.333% - 20px);
    max-width: 300px;
    color: #fff;
    box-sizing: border-box; 
}

.product-card img {
    max-width: 100%;
    border-radius: 8px;
}

.product-name {
    color: white;
    margin-top: 15px;
}

.product-price {
    color: #ff8c00;
    font-weight: bold;
    margin-top: 10px;
}

.purchase-button {
    background: #ff8c00;
    border: none;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.product-card a {
    text-decoration: none !important;
}

.purchase-button:hover {
    background: #df820b;
}


@media (max-width: 1024px) {
    .purchase-button {
        padding: 9px 35px;
        font-size: 0.95rem;
    }
}


@media (max-width: 768px) {
    .purchase-button {
        padding: 8px 30px;
        font-size: 0.9rem;
    }
}


@media (max-width: 480px) {
    .purchase-button {
        padding: 7px 25px;
        font-size: 0.85rem;
    }
}


@media (max-width: 320px) {
    .purchase-button {
        padding: 6px 20px;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .product-card {
        width: 100%; 
    }
}
.info-button {
    width: 35px;
    height: 35px;
    padding: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #2196f3;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.button-row {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
 gap: 6px;

    width: 100%;
    white-space: nowrap;
}



.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.popup-content {
  background: #2b2731;
  width: 70%;
  display: flex;
  padding: 30px;
  border-radius: 12px;
  position: relative;
  color: white;
}


.popup-close {
  position: absolute;
  right: 15px;
  top: 15px;
  background: transparent;
  border: 2px solid red;
  color: red;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
}


.popup-left {
  width: 60%;
  text-align: center;
}

.popup-left img {
  width: 100%;
  border-radius: 10px;
}

.popup-right {
    width: 60%;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: flex-start;   
    text-align: left;         
    line-height: 1.4;         
}
.popup-right p {
    max-width: 90%;
}


#popup-title {
    font-size: 20px !important;  
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.2;

}
@media (max-width: 650px) {
    #popup-img {
        width: 100%;    
        max-width: 200px;
    }

}

.popup-purchase {
    background: #ff8c00;
    border: none;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.popup-purchase:hover {
    background: #df820b;
}


@media (max-width: 900px) {
    .popup-content {
        width: 92%;
    }
}


@media (max-width: 650px) {
    .popup-content {
        flex-direction: column;
        text-align: center;
        width: 92%;
        gap: 15px;
        padding: 25px;
    }

    .popup-left,
    .popup-right {
        width: 100%;
    }

    .popup-left img {
        max-width: 140px;
        margin: 0 auto;
    }

    .popup-title {
        font-size: 22px;
    }

    .popup-description {
        text-align: center;
        font-size: 15px;
    }

    .popup-purchase {
        margin: 0 auto;
        font-size: 15px;
    }
}

.info-button i {
    font-size: 15px;
    color: white;

}

.button-row .purchase-button {
    margin-top: 0 !important;
}
.button-row {
    margin-top: 15px;  
}

.button-row .purchase-button,
.button-row .info-button {
    height: 36px; 
    display: flex;
    align-items: center;
}

#join-server{
    background: rgba(210, 208, 208, 0.05);
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#join-server .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#join-server .content .section-title {
    font-size: 30px;
    font-weight: 700;
    color: white;
    position: relative;
    text-align: center;
}

#join-server .content .section-title span {
    color: red;
}

#join-server .content .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#join-server .content .buttons .copy-ip {
    background: rgb(138, 0, 0);
    border: 2px solid red;
    border-radius: 3px;
    padding: 10px 30px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

#join-server .content .buttons .join-discord {
    background: rgba(210, 208, 208, 0.2);
    border: 2px solid #D2D0D0;
    border-radius: 3px;
    padding: 10px 30px;
    color: #D2D0D0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

#join-server .content .buttons .copy-ip:hover, #join-server .content .buttons .join-discord:hover {
    opacity: 0.8;
}

#join-server .content .ip-copied {
    color: #4AFF6B;
    background: rgba(74, 255, 107, 0.17);
    padding: 10px 20px;
    width: fit-content;
    border-radius: 5px;
    font-size: 17px;
    display: none;
}

#join-server .content .ip-copied.active {
    display: flex;
}

#join-server .content .ip-copied.error {
    background: rgba(255, 124, 124, 0.17);
    color: #FF7C7C;
}



@media screen and (max-width: 1625px) {
    #header .content {
        padding: 150px 90px;
    }
    
}

@media screen and (max-width: 1361px) {
    #header .content {
        flex-direction: column;
        padding: 120px 90px;
    }
    #products .content .section-heading::before,
    #products .content .section-heading::after {
        display: none;
    }
}

@media screen and (max-width: 819px) {
    #header .content {
        padding: 150px 30px;
    }

    #header .content .info .minecraft-server-ip {
        font-size: 14px;
    }

    #header .content .info .title {
        font-size: 40px;
    }

    #header .content .description {
        font-size: 15px;
    }
    #products .content .section-heading::before,
    #products .content .section-heading::after {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    #header .content {
        justify-content: start;
        align-items: start;
    }

    #header .content .info .title {
        font-size: 30px;
    }
    #products .content .section-heading::before,
    #products .content .section-heading::after {
        display: none;
    }
}


@media screen and (max-width: 462px) {
    #rules .warning {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    #products .content .section-heading::before,
    #products .content .section-heading::after {
        display: none;
    }
}


@media screen and (max-width: 380px) {
    #join-server .content .buttons {
        flex-direction: column;
        width: 100%;
    }
    #products .content .section-heading::before,
    #products .content .section-heading::after {
        display: none;
    }
}